{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'quizes/main.js' %}" defer></script>
{% endblock %}

{% block title %}Home{% endblock %}
    
{% block content %}

<!-- Modal -->
<div class="modal fade" id="quizStarteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-family: Aclonica;">Start?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="modal-body-confirm">
     
    </div>
    <div class="modal-footer">
        <button type="button" style="font-family: Aclonica;" class="btn btn-outline-danger" data-bs-dismiss="modal">No</button>
        <button type="button" style="font-family: Aclonica;" id="start-button" class="btn btn-outline-success">Yes</button>
    </div>
    </div>
</div>
</div>

<div style="font-family: Aclonica;" class="h1">
    Quiz List
</div>
<hr>

{% for obj in object_list %}
    <button 
            style="font-family: Aclonica;"
            type="button" 
            class="btn btn-outline-dark modal-button m-2" 
            data-pk="{{obj.pk}}"
            data-quiz="{{obj.name}}"
            data-questions="{{obj.number_of_questions}}"
            data-difficulty="{{obj.difficulty}}"
            data-time="{{obj.time}}"
            data-pass="{{obj.required_score_to_pass}}"
            data-bs-toggle="modal" 
            data-bs-target="#quizStarteModal">
            {{ obj.name }}
    </button><br>
{% endfor %}
{% endblock %}